In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\asus\appdata\roaming\python\python39\site-packages (4.8.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\appdata\roaming\python\python39\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\asus\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\asus\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\asus\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\asus\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException ,NoSuchElementException
import time 
import warnings
warnings.filterwarnings('ignore')

In [2]:
# let first connect to the driver 
driver = webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32.zip\chormedriver.exe")

### Q1: Write a python program to scrape data for ‚ÄúData Analyst‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter ‚ÄúData Analyst‚Äù in ‚ÄúSkill, Designations, Companies‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the 
location‚Äù field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [3]:
# opening the naukri.com page on automated chrome browser
driver.get('https://www.naukri.com/')

In [4]:
# entering the designation as required in the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Analyst")

In [5]:
# entering the  location as required in the question
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys("Bangalore")

In [6]:
# clicking on search button to search the required data 
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [7]:
# create empty lists to store the scraped data
job_titles = []
company_name = []
job_location = []
experience_required = []

# scrape job titles of first 10 jobs
job_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in job_tags[:10]:
    job= i.text
    job_titles.append(job)

# scrape company names of first 10 jobs
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[:10]:
    company= i.text
    company_name.append(company)

# scrape job locations of first 10 jobs
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[:10]:
    location = i.text
    job_location.append(location)

# scrape experience required for first 10 jobs
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[:10]:
    experience= i.text
    experience_required.append(experience)

# create pandas dataframe from the scraped data
df = pd.DataFrame({'job-title':job_titles,
                   'job-location':job_location, 
                   'company_name':company_name, 
                   'experience_required':experience_required})

# print the dataframe
df

,job-title,job-location,company_name,experience_required
0,Data Analyst III,Bangalore/Bengaluru,Walmart,3-7 Yrs
1,Data Analyst,Bangalore/Bengaluru,Clarivate,2-4 Yrs
2,Data Analyst || Bangalore || Male/ Female || 1...,Bangalore/Bengaluru,TeamLease,1-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
4,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs
5,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs
6,Data Engineer/Data Analyst,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Tech Mahindra,6-11 Yrs
7,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
8,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
9,Data Analyst - MySQL,Bangalore/Bengaluru,Talentstack,2-7 Yrs

### Q2:Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, Companies‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the 
location‚Äù field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [8]:
# let first connect to the driver 
driver = webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32.zip\chormedriver.exe")

In [9]:
# opening the naukri.com page on automated chrome browser
driver.get('https://www.naukri.com/')

In [10]:
# entering the designation as required in the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [11]:
# entering the  location as required in the question
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys("Bangalore")

In [12]:
# clicking on search button to search the required data 
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [13]:
# create empty lists to store the scraped data
data_job = []
company__ = []
company_location = []
experience__ = []

# scrape job titles of first 10 jobs
job_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in job_tags[:10]:
    job= i.text
    data_job.append(job)

# scrape company names of first 10 jobs
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[:10]:
    company= i.text
    company__.append(company)

# scrape job locations of first 10 jobs
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[:10]:
    location = i.text
    company_location.append(location)

# scrape experience required for first 10 jobs
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[:10]:
    experience= i.text
    experience__.append(experience)

# create pandas dataframe from the scraped data
df = pd.DataFrame({'job-title':data_job,
                   'job-location':company_location, 
                   'company_name':company__, 
                   'experience_required':experience__})

# print the dataframe
df

,job-title,job-location,company_name,experience_required
0,Data Science Professional - IBM SPSS Statistic...,"Bangalore/Bengaluru, Noida, Mumbai, Pune, Chennai",Hexaware Technologies,5-8 Yrs
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
3,Senior data scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,4-8 Yrs
4,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,5-11 Yrs
5,Data Scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,3-7 Yrs
6,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent,5-12 Yrs
7,Manager - Innovations Hub - Machine Learning,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC,7-9 Yrs
8,Data Science,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Skillety,7-10 Yrs
9,Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Clarifai,3-7 Yrs

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:ASSIGNMENT 2
You have to use the location and salary filter.
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, and Companies‚Äù field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data.

In [14]:
# let first connect to the driver 
driver = webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32.zip\chormedriver.exe")

In [15]:
# opening the naukri.com page on automated chrome browser
driver.get('https://www.naukri.com/')

In [16]:
# entering the designation as required in the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [17]:
# clicking on search button to search the required data 
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [18]:
# filter the location 
locationss = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
locationss.click()

In [19]:
# filter the salary
salary = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [20]:
# create empty lists to store the scraped data
datascience_job = []
name_company__ = []
company_locations = []
experience__req= []

# scrape job titles of first 10 jobs
job_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in job_tags[:10]:
    job= i.text
    datascience_job.append(job)

# scrape company names of first 10 jobs
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[:10]:
    company= i.text
    name_company__.append(company)

# scrape job locations of first 10 jobs
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[:10]:
    location = i.text
    company_locations.append(location)

# scrape experience required for first 10 jobs
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[:10]:
    experience= i.text
    experience__req.append(experience)

# create pandas dataframe from the scraped data
df = pd.DataFrame({'job-title':datascience_job,
                   'job-location':company_locations, 
                   'company_name':name_company__, 
                   'experience_required':experience__req})

# print the dataframe
df

,job-title,job-location,company_name,experience_required
0,Data Scientist,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",Cognizant,6-10 Yrs
1,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tabsquare,1-3 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
5,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
6,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
7,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
8,Senior Data Scientist,"Hyderabad/Secunderabad, Chenani, Gurgaon/Gurug...",RecruitEForU,3-8 Yrs
9,Assistant Manager/Senior Manager - Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,2-7 Yrs

### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter ‚Äúsunglasses‚Äù in the search field where ‚Äúsearch for products, brands and more‚Äù is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data asusual.
4. After scraping data from the first page, go to the ‚ÄúNext‚Äù Button at the bottom other page , then
click on it.
5. Now scrape data from this page asusual
6. Repeat this until you get data for 100sunglasses

In [21]:
# let first connect to the driver 
driver = webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32.zip\chormedriver.exe")

In [22]:
# opening the flipkart.com page on automated chrome browser
driver.get('https://www.flipkart.com')

In [23]:
# entering the product as required in the question
glasses = driver.find_element(By.CLASS_NAME,"_3704LK ")
glasses.send_keys("sunglasses")

In [24]:
# clicking on search button to search the required data 
search = driver.find_element(By.CLASS_NAME,'_34RNph')
search.click()

In [25]:
# Create empty lists to store the required data
Brand=[]
productdescription=[]
price=[]

# Define the start and end page numbers
start = 0
end = 3

# Loop through the pages
for page in range(start, end):
    # Find all the elements for Brand tag and append their text to the Brand list
    Brand_tag = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in Brand_tag:
        Brand.append(i.text)
    
    # Find all the elements for Product tag and append their text to the productdescription list
    product_tag = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tag:
        productdescription.append(i.text)
    
    # Find all the elements for Price tag and append their text to the price list
    price_tag = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag:
        price.append(i.text)
    
    # Find the next button and click on it
    nextbutton = driver.find_element(By.CLASS_NAME,'_1LKTO3')
    nextbutton.click()
    # Wait for 3 seconds for the next page to load
    time.sleep(3)
    
# Get only the first 100 items from each of the lists
br = Brand[:100]
pro = productdescription[:100]
pr = price[:100]

# Create a pandas dataframe using the data obtained and store it in a variable named df_sneak
df_sneak = pd.DataFrame({"Brand":br,
                  "ProductDescription":pro,
                  "Price":pr})

In [26]:
df_sneak

           Brand                                ProductDescription Price
0   Silver Kartz     UV Protection Wayfarer Sunglasses (Free Size)  ‚Çπ232
1         Fair-x             UV Protection Aviator Sunglasses (58)  ‚Çπ207
2      Elligator               UV Protection Round Sunglasses (53)  ‚Çπ149
3           SRPM            UV Protection Wayfarer Sunglasses (50)  ‚Çπ149
4     Lee Topper  UV Protection Rectangular Sunglasses (Free Size)  ‚Çπ219
..           ...                                               ...   ...
95     ROYAL SON             Polarized Rectangular Sunglasses (60)  ‚Çπ664
96        SUNBEE  UV Protection Rectangular Sunglasses (Free Size)  ‚Çπ179
97        PIRASO          UV Protection Clubmaster Sunglasses (54)  ‚Çπ224
98     Elligator            UV Protection Wayfarer Sunglasses (53)  ‚Çπ179
99     ROYAL SON                  Mirrored Aviator Sunglasses (55)  ‚Çπ335

[100 rows x 3 columns]

### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market 
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [27]:
# let first connect to the driver 
driver = webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32.zip\chormedriver.exe")

In [28]:
# opening the flipkart.com  iphone 11 page on automated chrome browser
driver.get('https://www.flipkart.com')

In [30]:
# entering the product as required in the question
iphone = driver.find_element(By.CLASS_NAME,"_3704LK")
iphone.send_keys("iphone11")

In [31]:
# clicking on search button to search the required data 
search = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [32]:
# clicking on iphone 11
enter= driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[4]/div/div/div/a/div[2]/div[1]/div[1]')
enter.click()

In [44]:
# Import the itertools module
import itertools

# Create empty lists to store the data
ratings = []
review_summary = []
full_review = []

# Set the start and end pages to scrape
start = 0
end = 10

# Loop through the pages and scrape data
for page in range(start, end):
    # Find all the rating elements on the current page and append them to the rating list
    rating_tag = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    ratings_page = [i.text for i in rating_tag]
    
    # Find all the review summary elements on the current page and append them to the review_summary list
    review_tag = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    review_summary_page = [i.text for i in review_tag]
    
    # Find all the full review elements on the current page and append them to the full_review list
    full_tag = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
    full_review_page = [i.text for i in full_tag]
    
    # Use the zip_longest function to ensure all lists are of the same length
    zipped_data = itertools.zip_longest(ratings_page, review_summary_page, full_review_page, fillvalue='NA')
    
    # Unzip the zipped data into separate lists
    ratings_page, review_summary_page, full_review_page = zip(*zipped_data)
    
    # Append the page data to the main lists
    ratings.extend(ratings_page)
    review_summary.extend(review_summary_page)
    full_review.extend(full_review_page)
        
    # Click on the next button to move to the next page
    nexts = driver.find_element(By.CLASS_NAME, '_1LKTO3')
    nexts.click()
    
    # Use a time.sleep() to wait for the next page to load
    time.sleep(10)
    
# Slice the lists to ensure they are all the same length
ratings = ratings[:100]
review_summarys = review_summary[:100]
full_reviews = full_review[:100]

# Create a pandas dataframe from the scraped data and display it
df_iphone= pd.DataFrame({'Rating': ratings,
                         'Review Summary': review_summarys,
                         'Full Review': full_reviews})
df_iphone

,Rating,Review Summary,Full Review
0,4,Very poor,1)This product totally chif quality and wast o...
1,5,Nice product,Good product on this price range.
2,5,Classic !!!!,1.You never gonna feel the quality of this mob...
3,5,Must buy!,Still using it in 2019 üòÇ
4,5,Fabulous!,Fast performance to previous iPhone x\nGood ca...
...,...,...,...
95,4,Great product,Awesome product ‚ù§Ô∏è‚ù§Ô∏è\nThank you Flipkart
96,5,Good quality product,impressively Nice......\nOne of the greatest i...
97,5,Perfect product!,Nice products thanks flkat
98,NA,Iphone 5S review,Well the iPhone 5S is here ! its the best iPho...
99,NA,Worthless,There was defect in camera lens

### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [45]:
# let first connect to the driver 
driver = webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32.zip\chormedriver.exe")

In [46]:
# opening the flipkart.com on automated chrome browser
driver.get('https://www.flipkart.com')

In [47]:
# entering the product as required in the question
sneakers = driver.find_element(By.CLASS_NAME,"_3704LK")
sneakers.send_keys("sneakers")

In [48]:
# clicking on search button to search the required data 
search = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [49]:
# create empty list to store the data
brand =[]
product_description=[]
price

# Set the start and end pages to scrape
start = 0
end = 3
# Loop through the pages and scrape data
for page in range(start, end):
    
    # Find all the brand elements on the current page and append them to the brand list
    brand_tag = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag:
        brand.append(i.text)
        
        
    # Find all the product description elements on the current page and append them to the product description list
    product_tag = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in product_tag:
        product_description.append(i.text)
        
    # Find all the price elements on the current page and append them to the price list
    price_tag = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in price_tag:
        price.append(i.text)
        
        
     # Click on the next button to move to the next page
    nexts = driver.find_element(By.CLASS_NAME, '_1LKTO3')
    nexts.click()
    
    # Use a time.sleep() to wait for the next page to load
    time.sleep(3)
    
# Truncate the lists to 100 elements if necessary    
Brand = brand[:100]
Product_description =product_description[:100]
Price = price[:100]


# Create a pandas dataframe from the scraped data and display it
df_sneakers= pd.DataFrame({'Brand': Brand,
                         'Product Description': Product_description,
                         'Price': Price})

In [50]:
df_sneakers

,Brand,Product Description,Price
0,Layasa,Stylish Casual Sports Shoe Sneakers Sneakers F...,‚Çπ232
1,RapidBox,Sneakers For Men,‚Çπ207
2,EZDEZARIO,Sneakers For Men,‚Çπ149
3,aadi,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",‚Çπ149
4,Labbin,Sneakers For Men,‚Çπ219
...,...,...,...
95,WHITE WALKERS,Stylish & Trending Outdoor Walking Comfortable...,‚Çπ664
96,BIG FOX,Advantage Genz Sneakers For Men Sneakers For Men,‚Çπ179
97,Footox,Sneaker for Mens | Casual Shoes | Men Shoes Sn...,‚Çπ224
98,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,‚Çπ179
99,World Wear Footwear,Latest Exclusive Affordable Collection of Tren...,‚Çπ335

### Q7: Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon. Then set CPU Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [51]:
# let first connect to the driver 
driver = webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32.zip\chormedriver.exe")

In [52]:
# opening the amazon.in on automated chrome browser
driver.get('https://www.amazon.in/')

In [53]:
# entering the product as required in the question
laptop = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
laptop.send_keys("Laptop")

In [54]:
# clicking on search button to search the required data 
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [55]:
# filter intel core i7 laptop
i7= driver.find_element(By.XPATH,'//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
i7.click()

In [56]:
# Create empty lists to store the scraped data
title = []
rating = []
Price = []

# Find all the title tags using XPath and append the text of each tag to the `title` list
title_tag = driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tag:
    title.append(i.text)

# Find all the rating tags using XPath, split the text of each tag into a list of words, and append the list to the `rating` list
rating_tag = driver.find_elements(By.XPATH, '//div[@class="a-row a-size-small"]')
for i in rating_tag:
    rating.append(i.text.split())

# Find all the price tags using XPath and append the text of each tag to the `Price` list
Price_tag = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for i in Price_tag:
    Price.append(i.text)

# Select only the first 10 items in each list to limit the data to the top 10 items
Title = title[:10]
rating = rating[:10]
Price = Price[:10]

# Create a pandas dataframe from the scraped data and display it
df_laptop = pd.DataFrame({'Title': Title,
                          'Rating': rating,
                          'Price': Price})
df_laptop

,Title,Rating,Price
0,HP Victus Gaming Latest 12th Gen Intel Core i7...,"[4.3, (118)]","79,990"
1,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,"[4.3, (80)]","1,00,990"
2,"ASUS TUF Gaming F15 (2022), 15.6""(39.62 cms) F...","[4.4, (70)]","92,990"
3,"ASUS TUF Dash F15, Intel Core i7-12650H 12th G...","[4.0, (2)]","31,592"
4,(Renewed) HP 840g3 Elitebook 14 Inch Screen La...,"[3.0, (2)]","84,999"
5,HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...,"[4.3, (51)]","31,490"
6,(Renewed) HP ELITEBOOK 840 G5 (Core i7 8th GEN...,"[New, to, Amazon]","84,990"
7,"ASUS Vivobook S15 OLED 2022, 15.6"" 39.62 cms F...","[4.0, (10)]","94,990"
8,"ASUS TUF Gaming F15 (2022), 15.6"" (39.62 cms) ...","[4.1, (43)]","84,910"
9,"Dell Inspiron 5320 Laptop, Intel i7-1260P, 16G...","[3.7, (12)]","30,393"

### Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.3. Than scrap a) Quote b) Author c) Type Of QuotesThe above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [57]:
# let first connect to the driver 
driver = webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32.zip\chormedriver.exe")

In [58]:
# opening the azquotes.com on automated chrome browser
driver.get('https://www.azquotes.com/')

In [59]:
# clicking on top quotes button to search the required data 
quotes = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]')
quotes.click()

In [60]:
# create empty list to store the data
Quote =[]
Author =[]
Type_of_quotes=[]
# Set the start and end pages to scrape
start = 0
end = 10
# Loop through the pages and scrape data
for page in range(start, end):

    quote_tag = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tag:
        Quote.append(i.text)
        
    author_tag = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tag:
        Author.append(i.text)
    
    type_of_quotes_tag = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_of_quotes_tag:
        Type_of_quotes.append(i.text)
    
    # Click on the next button to move to the next page
    nexts = driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
    nexts.click()
    
    # Use a time.sleep() to wait for the next page to load
    time.sleep(3)
df_quotes = pd.DataFrame({'Quotes':Quote,'Author':Author,'Type Of Quotes':Type_of_quotes})

df_quotes

,Quotes,Author,Type Of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

### Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [61]:
# let first connect to the driver 
driver = webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32.zip\chormedriver.exe")

In [62]:
# opening the jagranjosh.com on automated chrome browser
driver.get('https://www.jagranjosh.com/')

In [63]:
# clicking on GK button to search the required data 
gk = driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [64]:
#clicking on pm section to search the required data
pm = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[29]/div/div/ul/li/ul[2]/li[11]/a')
pm.click()

In [65]:
# Create empty lists to store the data
Name=[]
Born_Dead=[]
Term_of_office=[]
Remarks=[]

# Find all td elements on the page and append their text to the Name list
name_tag = driver.find_elements(By.TAG_NAME,'td')
for i in name_tag:
    Name.append(i.text)

# Find all td elements on the page and append their text to the Born_Dead list
brand_tag = driver.find_elements(By.TAG_NAME,'td')
for i in brand_tag:
    Born_Dead.append(i.text)

# Find all td elements on the page and append their text to the Term_of_office list
term_tag = driver.find_elements(By.TAG_NAME,'td')
for i in term_tag:
    Term_of_office.append(i.text)

# Find all td elements on the page and append their text to the Remarks list
Remarks_tag = driver.find_elements(By.TAG_NAME,'td')
for i in Remarks_tag:
    Remarks.append(i.text)

# Slice the Name list to extract every 5th element starting from the second element
# This extracts the values for the "Name" column of the table
Name = Name[1:90:5]

# Slice the Born_Dead list to extract every 5th element starting from the third element
# This extracts the values for the "Born Dead" column of the table
Born_Dead = Born_Dead[2:90:5]

# Slice the Term_of_office list to extract every 5th element starting from the fourth element
# This extracts the values for the "Term Of Office" column of the table
Term_of_office = Term_of_office[3:90:5]

# Slice the Remarks list to extract every 5th element starting from the fifth element
# This extracts the values for the "Remarks" column of the table
Remarks = Remarks[4:90:5]

# Create a pandas DataFrame using a dictionary of the lists
df_prime = pd.DataFrame({'Name':Name,'Born Dead':Born_Dead,'Term Of Office':Term_of_office,'Remarks':Remarks})

# Print the DataFrame to the console
df_prime

,Name,Born Dead,Term Of Office,Remarks
0,Jawahar Lal Nehru,(1889‚Äì1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904‚Äì1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917‚Äì1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896‚Äì1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902‚Äì1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917‚Äì1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944‚Äì1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931‚Äì2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927‚Äì2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921‚Äì2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919‚Äì2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

### Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [15]:
# let first connect to the driver 
driver = webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32.zip\chormedriver.exe")

In [16]:
# opening the motor1.com on automated chrome browser
driver.get('https://www.motor1.com/')

In [18]:
# enter the text in the search box
data = driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/input')
data.send_keys('50 Most expensive cars in the world')

In [19]:
# click on the search button
searchs= driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
searchs.click()

In [20]:
# click on the 50 most expensive cars section
cars = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div[1]/div/div/div[1]/div/div[1]')
cars.click()

In [32]:
# Create empty lists to store the scraped data
cars_name = []
cars_price = []

# Find all the car tags using XPath and append the text of each tag to the `cars_name` list
cars_tags = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in cars_tags:
    cars_name.append(i.text)

# Find all the price tags using the `TAG_NAME` locator for `strong` tags and append the text of each tag to the `cars_price` list
price_tags = driver.find_elements(By.TAG_NAME,'strong')
for i in price_tags:
    cars_price.append(i.text)

# Create a pandas dataframe from the scraped data and display it
df_cars = pd.DataFrame({'Car Name':cars_name,'Price':cars_price})

# dropping the rows having NaN values
df = df_cars.drop(3)
 
# To reset the indices
df = df.reset_index(drop=True)
 
# Print the dataframe
df

                            Car Name                        Price
0                      De Tomaso P72          Price: $1.3 Million
1                  Ferrari LaFerrari          Price: $1.4 Million
2                      Pagani Huayra          Price: $1.4 Million
3                        Czinger 21C          Price: $1.7 Million
4                      Ferrari Monza          Price: $1.7 Million
5                 Gordon Murray T.33          Price: $1.7 Million
6                  Koenigsegg Gemera          Price: $1.7 Million
7                        Zenvo TSR-S          Price: $1.7 Million
8                 Hennessey Venom F5          Price: $1.7 Million
9                    Bentley Bacalar          Price: $1.8 Million
10     Hispano Suiza Carmen Boulogne          Price: $1.9 Million
11            Bentley Mulliner Batur          Price: $1.9 Million
12                      Deus Vayanne          Price: $2.0 Million
13                       SSC Tuatara          Price: $2.0 Million
14                       Lotus Evija         Price: $2.0 Million*
15               Aston Martin Vulcan          Price: $2.1 Million
16                        Delage D12          Price: $2.3 Million
17                 McLaren Speedtail          Price: $2.3 Million
18                      Rimac Nevera          Price: $2.3 Million
19                     Pagani Utopia          Price: $2.4 Million
20              Pininfarina Battista          Price: $2.5 Million
21                 Ferrari FXX K Evo          Price: $2.5 Million
22                Gordon Murray T.50          Price: $2.6 Million
23              Lamborghini Countach          Price: $2.6 Million
24          Mercedes-AMG Project One          Price: $2.6 Million
25               Aston Martin Victor          Price: $2.7 Million
26       Hennessey Venom F5 Roadster          Price: $3.0 Million
27                  Koenigsegg Jesko                 $3.0 Million
28             Aston Martin Valkyrie          Price: $3.0 Million
29         W Motors Lykan Hypersport          Price: $3.2 Million
30                     McLaren Solus          Price: $3.4 Million
31         Pagani Huayra Roadster BC                 $3.5 Million
32          Bugatti Chiron Pur Sport          Price: $3.5 Million
33                  Lamborghini Sian          Price: $3.6 Million
34                  Koenigsegg CC850          Price: $3.6 million
35   Bugatti Chiron Super Sport 300+          Price: $3.7 Million
36                Lamborghini Veneno          Price: $3.9 Million
37                    Bugatti Bolide          Price: $4.5 Million
38                   Bugatti Mistral          Price: $4.7 Million
39               Pagani Huayra Imola          Price: $5.0 Million
40                      Bugatti Divo          Price: $5.4 Million
41               SP Automotive Chaos          Price: $5.8 Million
42                  Pagani Codalunga          Price: $6.4 Million
43          Mercedes-Maybach Exelero          Price: $7.4 Million
44                Bugatti Centodieci          Price: $8.0 Million
45           Bugatti Chiron Profil√©e          Price: $9.0 Million
46              Rolls-Royce Sweptail         Price: $10.8 Million
47          Bugatti La Voiture Noire         Price: $12.8 Million
48            Rolls-Royce Boat Tail*         Price: $13.4 Million
49  Most Expensive Cars In The World  Price: $28.0 Million (est.)