In [1]:
!pip install bs4
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\asus\appdata\roaming\python\python39\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.11)

## Importing Required Libraries

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

## 1) Write a python program to display all the header tags from wikipedia.org and make data frame.

In [3]:
def get_header_tags(url):
    
    # send request to the server
    response = requests.get(url)
    # parse the html content with beautiful soup
    soup = BeautifulSoup(response.text, "html.parser")
    # finding the data
    header_tags = []
    for i in range(1, 7):
        # extract the headers from the website
        headers = soup.find_all("h{}".format(i))
        header_tags.extend(headers)
    # convert the data into text
    header_texts = [header.text for header in header_tags]
    # create dataframe
    df = pd.DataFrame(header_texts, columns=["Header"])

    return df

In [4]:
df = get_header_tags("https://en.wikipedia.org/wiki/Main_Page")
print(df)

                           Header
0                       Main Page
1            Welcome to Wikipedia
2   From today's featured article
3                Did you know ...
4                     In the news
5                     On this day
6      From today's featured list
7        Today's featured picture
8        Other areas of Wikipedia
9     Wikipedia's sister projects
10            Wikipedia languages

## 2) Write a python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release) and make data frame

In [5]:

def get_top_50_movies(url):
    
    ## Send HTTP request to IMDb Top 250 page
    response = requests.get(url)
    
    # Parse HTML content with BeautifulSoup
    soup = BeautifulSoup(response.text, "html.parser")
    
    # find all top movies data
    top_movies = soup.find_all('td',class_ = "titleColumn")
    
    # extract name rating year for the each movie
    
    movie_names = []
    movie_ratings = []
    movie_years = []
    
    for movies in top_movies[:50]:
        
        
        #extract name
        name = movies.a.text
        movie_names.append(name)
        
        #extract rating of the movies
         
        rating = movies.parent.find("td", class_="ratingColumn imdbRating").strong.text
        movie_ratings.append(rating)
        
        
        # extract year of release
        year = movies.span.text.strip("()")
        movie_years.append(year)
    
    
    # Create DataFrame 
    df = pd.DataFrame({
        'Name':movie_names,
        'Rating':movie_ratings,
        'Year':movie_years
        
        })
    
    return df

In [6]:
top_movies = get_top_50_movies('https://www.imdb.com/chart/top/')
print(top_movies)

                                                 Name Rating  Year
0                            The Shawshank Redemption    9.2  1994
1                                       The Godfather    9.2  1972
2                                     The Dark Knight    9.0  2008
3                               The Godfather Part II    9.0  1974
4                                        12 Angry Men    9.0  1957
5                                    Schindler's List    8.9  1993
6       The Lord of the Rings: The Return of the King    8.9  2003
7                                        Pulp Fiction    8.8  1994
8   The Lord of the Rings: The Fellowship of the Ring    8.8  2001
9                     Il buono, il brutto, il cattivo    8.8  1966
10                                       Forrest Gump    8.8  1994
11                                         Fight Club    8.7  1999
12              The Lord of the Rings: The Two Towers    8.7  2002
13                                          Inception    8.7  2010
14                            The Empire Strikes Back    8.7  1980
15                                         The Matrix    8.7  1999
16                                         GoodFellas    8.7  1990
17                    One Flew Over the Cuckoo's Nest    8.6  1975
18                                              Se7en    8.6  1995
19                               Shichinin no samurai    8.6  1954
20                              It's a Wonderful Life    8.6  1946
21                           The Silence of the Lambs    8.6  1991
22                                Saving Private Ryan    8.6  1998
23                                     Cidade de Deus    8.6  2002
24                                       Interstellar    8.6  2014
25                                    La vita è bella    8.6  1997
26                                     The Green Mile    8.6  1999
27                                          Star Wars    8.5  1977
28                         Terminator 2: Judgment Day    8.5  1991
29                                 Back to the Future    8.5  1985
30                      Sen to Chihiro no kamikakushi    8.5  2001
31                                        The Pianist    8.5  2002
32                                             Psycho    8.5  1960
33                                       Gisaengchung    8.5  2019
34                                               Léon    8.5  1994
35                                      The Lion King    8.5  1994
36                                          Gladiator    8.5  2000
37                                 American History X    8.5  1998
38                                       The Departed    8.5  2006
39                                       The Prestige    8.5  2006
40                                           Whiplash    8.5  2014
41                                 The Usual Suspects    8.5  1995
42                                         Casablanca    8.5  1942
43                                     Hotaru no haka    8.5  1988
44                                            Seppuku    8.5  1962
45                                   The Intouchables    8.5  2011
46                                       Modern Times    8.4  1936
47                       Once Upon a Time in the West    8.4  1968
48                              Nuovo Cinema Paradiso    8.4  1988
49                                        Rear Window    8.4  1954

## 3) Write a python program to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [7]:
def get_top_50_indian_movies(url):
    
    ## Send HTTP request to IMDb Top 250 page
    response = requests.get(url)
    
    # Parse HTML content with BeautifulSoup
    soup = BeautifulSoup(response.text, "html.parser")
    
    # find all top movies data
    top_movies = soup.find_all('td',class_ = "titleColumn")
    
    # extract name rating year for the each movie
    
    movie_names = []
    movie_ratings = []
    movie_years = []
    
    for movies in top_movies[:50]:
        
        
        #extract name
        name = movies.a.text
        movie_names.append(name)
        
        #extract rating of the movies
         
        rating = movies.parent.find("td", class_="ratingColumn imdbRating").strong.text
        movie_ratings.append(rating)
        
        
        # extract year of release
        year = movies.span.text.strip("()")
        movie_years.append(year)
    
    
    # Create DataFrame 
    df = pd.DataFrame({
        'Name':movie_names,
        'Rating':movie_ratings,
        'Year':movie_years
        
        })
    
    return df

In [8]:
top_indian_movies = get_top_50_indian_movies('https://www.imdb.com/india/top-rated-indian-movies/')
print(top_indian_movies)

                                   Name Rating  Year
0   Ramayana: The Legend of Prince Rama    8.6  1993
1            Rocketry: The Nambi Effect    8.4  2022
2                               Nayakan    8.4  1987
3                              Gol Maal    8.4  1979
4                           777 Charlie    8.4  2022
5                            Anbe Sivam    8.4  2003
6                     Pariyerum Perumal    8.4  2018
7                              Jai Bhim    8.4  2021
8                           Apur Sansar    8.4  1959
9                              3 Idiots    8.4  2009
10                     Manichitrathazhu    8.3  1993
11                                #Home    8.3  2021
12                      Soorarai Pottru    8.3  2020
13                         Black Friday    8.3  2004
14                    Kumbalangi Nights    8.3  2019
15                    C/o Kancharapalem    8.3  2018
16                     Taare Zameen Par    8.3  2007
17                             Kireedam    8.3  1989
18                               Dangal    8.3  2016
19                               Kaithi    8.3  2019
20                               Jersey    8.3  2019
21                                   96    8.3  2018
22                          Maya Bazaar    8.2  1957
23                            Natsamrat    8.2  2016
24                           Drishyam 2    8.2  2021
25                               Asuran    8.2  2019
26                           Sita Ramam    8.2  2022
27                         Thevar Magan    8.2  1992
28                           Visaaranai    8.2  2015
29                  Sarpatta Parambarai    8.2  2021
30                           Thalapathi    8.2  1991
31                         Nadodikkattu    8.2  1987
32                      Pather Panchali    8.2  1955
33                             Drishyam    8.2  2013
34                         Thani Oruvan    8.2  2015
35                   Jaane Bhi Do Yaaro    8.2  1983
36                         Vada Chennai    8.2  2018
37                            Aparajito    8.2  1956
38                         Sardar Udham    8.2  2021
39                    Khosla Ka Ghosla!    8.2  2006
40                              Anniyan    8.2  2005
41                             Ratsasan    8.1  2018
42                        Chupke Chupke    8.1  1975
43                   Gangs of Wasseypur    8.1  2012
44                             Drishyam    8.1  2015
45                              Peranbu    8.1  2018
46                             Mahanati    8.1  2018
47                       Bangalore Days    8.1  2014
48                                Satya    8.1  1998
49                               Premam    8.1  2015

## 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [9]:
# Defining function that takes in a URL as input
def termofoffice(url):
    
    # Getting response from the URL
    req = requests.get(url)
    
    # Parsing the HTML content using BeautifulSoup
    soup = BeautifulSoup(req.content,'html.parser')
    
    # Creating an empty list to store the names of presidents
    Name=[]
    # Finding all the president listings and appending to the Name list
    for i in soup.find_all('div','presidentListing'):
        Name.append(i.h3.text.strip())

    # Creating an empty list to store the terms of office for each president
    term=[]
    # Finding all the terms of office and appending to the term list
    for i in soup.find_all('div','presidentListing'):
        term.append(i.p.text)
    
    # Creating a pandas DataFrame to store the data
    df = pd.DataFrame({'Name':Name,
                      'Term Of Office':term})
    
    # Returning the DataFrame
    return df

In [10]:
pres_office = termofoffice('https://presidentofindia.nic.in/former-presidents.htm')
pres_office

,Name,Term Of Office
0,Shri Ram Nath Kovind (birth - 1945),"Term of Office: 25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"Term of Office: 25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"Term of Office: 25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"Term of Office: 25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"Term of Office: 25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"Term of Office: 25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"Term of Office: 25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"Term of Office: 25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"Term of Office: 25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"Term of Office: 24 August, 1974 to 11 February..."
10,Shri Varahagiri Venkata Giri (1894-1980),"Term of Office: 3 May, 1969 to 20 July, 1969 a..."
11,Dr. Zakir Husain (1897-1969),"Term of Office: 13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"Term of Office: 13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"Term of Office: 26 January, 1950 to 13 May, 1962"

## 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

###  a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [11]:
# * a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.



def teams_(url):

    # Send a GET request to the URL and get the response
    response = requests.get(url)

    # Check if the response status code is 200 (i.e., OK)
    if response.status_code == 200:
        # Parse the HTML using BeautifulSoup
        soup = BeautifulSoup(response.text, "html.parser")

        # Find the table containing the rankings using its class attribute
        table = soup.find("table", {"class": "table"})

        # Check if the table is found
        if table is not None:
            # Find all rows in the table except for the first row (header row)
            rows = table.find_all("tr")[1:11]

            # Initialize an empty list to store the data for each team
            data = []

            # Loop through each row and extract the team name, matches, points, and rating
            for row in rows:
                # Find all cells in the row
                cells = row.find_all("td")

                # Extract the team name from the second cell
                team = cells[1].find("span", {"class": "u-hide-phablet"}).text.strip()

                # Extract the number of matches from the third cell
                matches = cells[2].text.strip()

                # Extract the number of points from the fourth cell
                points = cells[3].text.strip()

                # Extract the rating from the fifth cell
                rating = cells[4].text.strip()

                # Add the data for this team to the list
                data.append([team, matches, points, rating])

            # Convert the list of data to a pandas DataFrame
            df = pd.DataFrame(data, columns=["Team", "Matches", "Points", "Rating"])

            # Print the DataFrame to display the top 10 ODI teams in men's cricket along with their matches, points, and rating
            return(df)
        else:
            # If the table is not found, print an error message
            print("Table not found.")
    else:
        # If the page is not fetched successfully, print an error message
        print("Failed to fetch page.")

In [12]:
team = teams_('https://www.icc-cricket.com/rankings/mens/team-rankings/t20i')
print(team)

           Team Matches  Points Rating
0         India      69  18,445    267
1       England      52  13,555    261
2      Pakistan      58  14,775    255
3  South Africa      44  11,170    254
4   New Zealand      53  13,371    252
5     Australia      47  11,784    251
6   West Indies      54  12,855    238
7     Sri Lanka      53  12,485    236
8    Bangladesh      55  12,506    227
9   Afghanistan      36   7,928    220

### b) Top 10 ODI Batsmen along with the records of their team and rating.

In [13]:
def top_batsmenss(url):
    # send request to the server 
    response = requests.get(url)
    
    # create soup object
    soup = BeautifulSoup(response.content, 'html.parser')
    # fetching  the top player data
    name = []
    team = []
    rate =[]
    a=soup.find('div', 'rankings-block__banner--name').text
    b=soup.find('div','rankings-block__banner--nationality').text[2:5]
    c=soup.find('div','rankings-block__banner--rating').text
    name.append(a)
    team.append(b)
    rate.append(c)
    # extract the names of the batsmens
    namesss = []
    for i in soup.find_all('td', 'table-body__cell name'):
        namesss.append(i.text.strip())
    # extract the teams of  the players
    teams = []
    for i in soup.find_all('td', 'table-body__cell nationality-logo'):
        teams.append(i.text.strip())
    # extract the ratings of the batsmens
    rating = []
    for i in soup.find_all('td', 'table-body__cell u-text-right rating'):
        rating.append(i.text.strip())
    # adding the data together 
    names = name + namesss
    teams = team + teams
    rating = rate + rating
    
    # create dataframe
    df = pd.DataFrame({
        'Batsmen':names,
        'Team':teams,
        'Rating':rating
    })
    
    # return the DataFrame
    return df[:10]

In [14]:
name = top_batsmenss('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
print(name)

                 Batsmen Team Rating
0             Babar Azam  PAK    887
1  Rassie van der Dussen   SA    777
2            Imam-ul-Haq  PAK    740
3        Quinton de Kock   SA    740
4           Shubman Gill  IND    738
5           David Warner  AUS    726
6            Virat Kohli  IND    719
7           Rohit Sharma  IND    707
8            Steve Smith  AUS    702
9           Fakhar Zaman  PAK    699

### c) Top 10 ODI bowlers along with the records of their team and rating

In [15]:
def get_top_10_ODI_bowlers(url):
    # Send a request to the ICC ODI rankings web page and get the response
    response = requests.get(url)

    # Parse the HTML content using Beautiful Soup
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find the table containing the top 10 ODI bowlers
    table = soup.find('table', attrs={'class': 'table'})

    # Extract the data from the table and store it in a list of dictionaries
    data = []
    rows = table.find_all('tr')
    for row in rows[1:11]: # We only need the top 10 bowlers
        cells = row.find_all('td')
        player_name = cells[1].text.strip()
        team = cells[2].text.strip()
        rating = cells[3].text.strip()
        data.append({
            'Player Name': player_name,
            'Team': team,
            'Rating': rating
        })

    # Create a Pandas DataFrame from the list of dictionaries and return it
    df = pd.DataFrame(data)
    return df

In [16]:
top = get_top_10_ODI_bowlers('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
print(top)

        Player Name Team Rating
0    Josh Hazlewood  AUS    705
1       Trent Boult   NZ    701
2    Mohammed Siraj  IND    691
3    Mitchell Starc  AUS    686
4       Rashid Khan  AFG    659
5        Adam Zampa  AUS    652
6    Shaheen Afridi  PAK    641
7  Mujeeb Ur Rahman  AFG    637
8   Shakib Al Hasan  BAN    636
9        Matt Henry   NZ    635

## 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

#### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [17]:
def top_women_odi(url):
    

    # Send a GET request to the URL
    response = requests.get(url)

    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find the table containing the rankings data
    table = soup.find('table', {'class': 'table'})

    # Create an empty list to store the data
    data = []

    # Find all the rows in the table
    rows = table.find_all('tr')

    # Loop through the rows and extract the data
    for row in rows[1:11]: # Take only first 10 rows for top 10 teams
        cols = row.find_all('td')
        cols = [col.text.strip() for col in cols]
        data.append(cols)

    # Create a Pandas data frame with the data
    df = pd.DataFrame(data, columns=['Position', 'Team', 'Matches', 'Points', 'Rating'])

    # Remove the \n character from the team names
    df['Team'] = df['Team'].replace('\n', '', regex=True)
    return df

In [18]:
top_odi_wo = top_women_odi('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
print(top_odi_wo)

  Position            Team Matches Points Rating
0        1    AustraliaAUS      21  3,603    172
1        2      EnglandENG      28  3,342    119
2        3  South AfricaSA      26  3,098    119
3        4        IndiaIND      27  2,820    104
4        5   New ZealandNZ      25  2,553    102
5        6   West IndiesWI      27  2,535     94
6        7   BangladeshBAN      13    983     76
7        8     ThailandTHA       8    572     72
8        9     PakistanPAK      27  1,678     62
9       10     Sri LankaSL       8    353     44

#### b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [19]:
def get_top_10_women_batting_players(url):
    # URL of the ICC women's ODI batting rankings
    

    # Send a GET request to the URL
    response = requests.get(url)

    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find the table containing the rankings data
    table = soup.find('table', {'class': 'table rankings-table'})

    # Create an empty list to store the data
    data = []

    # Find all the rows in the table
    rows = table.find_all('tr')

    # Loop through the rows and extract the data
    for row in rows[1:11]: # Take only first 10 rows for top 10 players
        cols = row.find_all('td')
        cols = [col.text.strip() for col in cols]
        player = cols[1]
        team = cols[2]
        rating = cols[3]
        data.append([player, team, rating])

    # Create a Pandas data frame with the data
    df = pd.DataFrame(data, columns=['Player', 'Team', 'Rating'])

    # Add position numbers to the data frame
    df.index += 1

    # Return the data frame
    return df

In [20]:
wo_batsmen = get_top_10_women_batting_players('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
print(wo_batsmen)

                 Player Team Rating
1          Alyssa Healy  AUS    762
2           Beth Mooney  AUS    754
3       Laura Wolvaardt   SA    732
4        Natalie Sciver  ENG    731
5           Meg Lanning  AUS    717
6      Harmanpreet Kaur  IND    716
7       Smriti Mandhana  IND    714
8        Rachael Haynes  AUS    680
9   Chamari Athapaththu   SL    655
10    Amy Satterthwaite   NZ    641

#### c) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [21]:

def get_top_10_women_allrounders(url):
    # URL of the ICC women's ODI all-rounder rankings
   

    # Send a GET request to the URL
    response = requests.get(url)

    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find the table containing the rankings data
    table = soup.find('table', {'class': 'table rankings-table'})

    # Create an empty list to store the data
    data = []

    # Find all the rows in the table
    rows = table.find_all('tr')

    # Loop through the rows and extract the data
    for row in rows[1:11]: # Take only first 10 rows for top 10 players
        cols = row.find_all('td')
        cols = [col.text.strip() for col in cols]
        player = cols[1]
        team = cols[2]
        rating = cols[3]
        data.append([player, team, rating])

    # Create a Pandas data frame with the data
    df = pd.DataFrame(data, columns=['Player', 'Team', 'Rating'])

    # Add position numbers to the data frame
    df.index += 1

    # Return the data frame
    return df

In [22]:
wo_all = get_top_10_women_allrounders('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
wo_all

              Player Team Rating
1    Hayley Matthews   WI    373
2     Natalie Sciver  ENG    371
3       Ellyse Perry  AUS    366
4     Marizanne Kapp   SA    349
5        Amelia Kerr   NZ    336
6      Deepti Sharma  IND    322
7   Ashleigh Gardner  AUS    292
8      Jess Jonassen  AUS    250
9           Nida Dar  PAK    232
10    Jhulan Goswami  IND    214

### 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame
i) Headline
ii) Time
iii) News Link

In [23]:
# Importing necessary libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Defining function that takes in a URL as input
def news_cnbc(url):
    
    # Getting response from the URL
    response = requests.get(url)
    
    # Parsing the HTML content using BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Creating an empty list to store the news article timestamps
    time=[]
    # Finding all the timestamps and appending to the time list
    for i in soup.find_all('time','LatestNews-timestamp'):
        time.append(i.text)
    
    # Creating an empty list to store the news article headlines
    news=[]
    # Finding all the headlines and appending to the news list
    for i in soup.find_all('a','LatestNews-headline'):
        news.append(i.text)

    # Creating an empty list to store the news article links
    links=[]
    # Finding all the links and appending to the links list
    for link in soup.find_all('a','LatestNews-headline'):
        links.append(link.get('href'))
    
    # Creating a pandas DataFrame to store the data
    df = pd.DataFrame({'Headline':news,
                      'Time':time,
                      'News Links':links})
    
    # Returning the DataFrame
    return df

In [24]:
news = news_cnbc('https://www.cnbc.com/world/?region=world')
news

,Headline,Time,News Links
0,San Francisco Fed leader likely not a major pl...,24 Min Ago,https://www.cnbc.com/2023/03/31/san-francisco-...
1,Sen. Elizabeth Warren says she wants to make b...,43 Min Ago,https://www.cnbc.com/2023/03/31/elizabeth-warr...
2,10 in-demand side hustles you can do from home...,1 Hour Ago,https://www.cnbc.com/2023/03/31/10-in-demand-r...
3,"It's the U.S., not Europe's banking system tha...",1 Hour Ago,https://www.cnbc.com/2023/03/31/its-the-us-not...
4,Trump faces about 30 criminal counts for docum...,1 Hour Ago,https://www.cnbc.com/2023/03/31/trump-faces-ab...
5,Investors believe the stock market is set for ...,1 Hour Ago,https://www.cnbc.com/2023/03/31/investors-beli...
6,This biotech can gain 50% on interest in seque...,1 Hour Ago,https://www.cnbc.com/2023/03/31/this-biotech-c...
7,Nikola shares sink after $100 million stock of...,1 Hour Ago,https://www.cnbc.com/2023/03/31/nikola-stock-s...
8,Justice Department sues Norfolk Southern over ...,2 Hours Ago,https://www.cnbc.com/2023/03/31/justice-depart...
9,'Jeopardy' champ Amy Schneider's new favorite ...,2 Hours Ago,https://www.cnbc.com/2023/03/31/jeopardy-champ...
10,Jim Cramer's top 10 things to watch in the sto...,2 Hours Ago,https://www.cnbc.com/2023/03/31/cramers-top-th...
11,Wall Street lines up against Gary Gensler on o...,2 Hours Ago,https://www.cnbc.com/2023/03/31/wall-street-li...
12,Trump indictment: Grand jury heard about hush ...,2 Hours Ago,https://www.cnbc.com/2023/03/31/trump-indicted...
13,Signal President Meredith Whittaker learned wh...,2 Hours Ago,https://www.cnbc.com/2023/03/31/signal-preside...
14,The rules for EV tax credits are about to get ...,2 Hours Ago,https://www.cnbc.com/2023/03/31/ev-tax-credit-...
15,Bill Gates took a 'test ride' in an autonomous...,2 Hours Ago,https://www.cnbc.com/2023/03/31/watch-bill-gat...
16,"Friday's top analyst calls: Boeing, Tesla, Dis...",2 Hours Ago,https://www.cnbc.com/2023/03/31/top-analyst-ca...
17,"How TikTok, ByteDance spent over $13 million o...",2 Hours Ago,https://www.cnbc.com/2023/03/31/tiktok-bytedan...
18,"Key Fed inflation gauge rose 0.3% in February,...",2 Hours Ago,https://www.cnbc.com/2023/03/31/fed-inflation-...
19,Stocks making the biggest moves premarket: Bed...,3 Hours Ago,https://www.cnbc.com/2023/03/31/stocks-making-...
20,5 things to know before the stock market opens...,3 Hours Ago,https://www.cnbc.com/2023/03/31/5-things-to-kn...
21,Loop Capital downgrades this Chinese e-commerc...,4 Hours Ago,https://www.cnbc.com/2023/03/31/loop-capital-d...
22,China's chip industry will be 'reborn' under U...,4 Hours Ago,https://www.cnbc.com/2023/03/31/chinas-chip-in...
23,Morgan Stanley says this beauty stock is gaini...,4 Hours Ago,https://www.cnbc.com/2023/03/31/morgan-stanley...
24,Xpeng expands assisted driving tech coverage t...,5 Hours Ago,https://www.cnbc.com/2023/03/31/xpeng-expands-...
25,Morgan Stanley says this e-commerce stock is a...,5 Hours Ago,https://www.cnbc.com/2023/03/31/morgan-stanley...
26,'Nationalizing bond markets' left central bank...,5 Hours Ago,https://www.cnbc.com/2023/03/31/nationalizing-...
27,Euro zone price rises cool significantly in Ma...,6 Hours Ago,https://www.cnbc.com/2023/03/31/inflation-euro...
28,Huawei reports biggest profit decline ever as ...,6 Hours Ago,https://www.cnbc.com/2023/03/31/huawei-earning...
29,Treasury yields are flat as bond market wraps ...,7 Hours Ago,https://www.cnbc.com/2023/03/31/us-treasury-yi...

### 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame
i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [25]:
def get_articless(url):
    # Send a GET request to the provided URL and get the HTML content
    response=requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')

    # Get the paper titles by finding all 'h2' tags with specific class
    text =[]
    for i in soup.find_all('h2','sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'):
        text.append(i.text)

    # Get the author names by finding all 'span' tags with specific class
    author = []
    for i in soup.find_all('span','sc-1w3fpd7-0 dnCnAO'):
        author.append(i.text)

    # Get the published dates by finding all 'span' tags with specific class
    date =[]
    for i in soup.find_all('span','sc-1thf9ly-2 dvggWt'):
        date.append(i.text)

    # Get the paper URLs by finding all 'a' tags with specific class
    links=[]
    for link in soup.findAll('a','sc-5smygv-0 fIXTHm'):
        links.append(link.get('href'))
    
    # Check if all lists have the same length, raise ValueError if not
    if len(set(map(len, (text, author, date, links)))) > 1:
        raise ValueError("Scraped data has different lengths")

    # Create a pandas DataFrame with the collected data and return it
    df= pd.DataFrame({'Paper Title':text,
                     'Authors': author,
                     'Published Date':date,
                     'Paper URL': links})
    
    return df

In [26]:
articles = get_articless('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
articles

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

### 9) Write a python program to scrape mentioned details from dineout.co.in and make data frame
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [27]:

def restaurant_data(url):
    # Send a GET request to the provided URL and get the HTML content
    response = requests.get(url)
    
    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(response.content,'html.parser')

    # Get the restaurant names by finding all 'a' tags with class 'restnt-name ellipsis'
    res =[]
    for i in soup.find_all('a','restnt-name ellipsis'):
        res.append(i.text.strip())

    # Get the cuisine by finding all 'span' tags with class 'double-line-ellipsis',
    # splitting the text by '|' and taking the second element
    cuisine =[]
    for i in soup.find_all('span','double-line-ellipsis'):
        cuisine.append(i.text.split("|")[1])
        
    # Get the location by finding all 'div' tags with class 'restnt-loc ellipsis'
    location =[]
    for i in soup.find_all('div','restnt-loc ellipsis'):
        location.append(i.text)

    # Get the rating by finding all 'div' tags with class 'restnt-rating rating-4'
    rating=[]
    for i in soup.find_all('div',"restnt-rating rating-4"):
        rating.append(i.text)

    # Get the image URLs by finding all 'img' tags with class 'no-img'
    # and extracting the 'data-src' attribute
    images=[]
    for img in soup.findAll('img','no-img'):
        images.append(img.get('data-src'))
    
    # Create a pandas DataFrame with the collected data and return it
    df = pd.DataFrame({'Restaurant Name':res,
                      'Cuisine':cuisine,
                      'Location':location,
                      'Ratings':rating,
                      'Image URL':images})
    return df

In [28]:
restaurant = restaurant_data('https://www.dineout.co.in/delhi-restaurants/buffet-special')
restaurant

,Restaurant Name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...